
@{ViewData["Title"] = "Generate Recipes";}
@model GeneratedRecipe

<link rel="stylesheet" href="css/Recipe.css">
<br><br><br>
<div class="recipe card">
    
    
    <div class="card-body">
        <h3 class="card-title title">@Model.RecipeName</h3>
        <h5 id="prep-time">Prep time: @Model.PrepTime</h5><h5 id="cook-time"> Cook Time: @Model.CookTime</h5><h5 id="servings"> Servings: @Model.Servings</h5>
        <br><br>
        <h4 class="Ingredients">Ingredients:</h4>
        <ul>
            @foreach(RecipeIngredient ing in Model.Ingredients){
                <li class="Ingredients">@ing.IngredientName: @ing.quantity</li>
            }
            
            
        </ul>
        <h4>Steps:</h4>
        <ol>
            @foreach(RecipeStep step in Model.Steps)
            {
                <li>@step.StepInstruction</li>
            }
        </ol>

        
        <button class="btn">Make it!</button>
        <button class="btn">Save for later</button> 
    </div>
    
</div>