
@{ViewData["Title"] = "Generate Recipes";}
@model List<GeneratedRecipe>

<link rel="stylesheet" href="css/Recipe.css">
<br><br>
<style>
    body{
    background-image: url("/images/spoons1.jpg") !important;
  
}

</style>

    @if(Model.Count == 0){
        <h5>An error occured while generating recipes.</h5>
        <div class="generate">
            <button class="btn " onclick="location.href='@Url.Action("Generate","Recipe")'">Generate</button>
        </div>
    }
    
    @foreach(GeneratedRecipe recipe in Model){

    <form asp-action="SaveRecipe" method="post">
    <div class="recipe card">
        <div class="card-body">
            <div class="row">
                <h3 class="card-title title" >@recipe.RecipeName</h3>
                <input type="hidden" name="RecipeName" value="@recipe.RecipeName">
                
                <div class="col-6">
                    <h4 class="Ingredients">Ingredients:</h4>
                    <ul>@{int i = 0;
                        @foreach(RecipeIngredient ing in recipe.Ingredients){
                            <li class="Ingredients">@ing.IngredientName: @ing.quantity</li>
                            <input type="hidden" name="Ingredients[@i].IngredientName" value="@ing.IngredientName">
                            <input type="hidden" name="Ingredients[@i].quantity" value="@ing.quantity">
                            i++;
                        }}
                        
                        
                    </ul>
                </div>
                <div class="col-6">
                    <h5 id="prep-time">Prep time: @recipe.PrepTime</h5>
                    <input type="hidden" name="PrepTime" value="@recipe.PrepTime">
                    <h5 id="cook-time"> Cook Time: @recipe.CookTime</h5>
                    <input type="hidden" name="CookTime" value="@recipe.CookTime">
                    <h5 id="servings"> Servings: @recipe.Servings</h5>
                    <input type="hidden" name="Servings" value="@recipe.Servings">
                </div>
            </div>
        <h4>Steps:</h4>
        <ol>
            @{int j = 0;
            @foreach(RecipeStep step in recipe.Steps)
            {
                <li>@step.StepInstruction</li>
                <input type="hidden" name="Steps[@j].StepInstruction"  value="@step.StepInstruction">
                <input type="hidden" name="Steps[@j].StepNumber" value="@step.StepNumber">
                j++;
            }}
        </ol>
        
        

        
        
        <button type="submit"class="btn">Save for later</button> 
    </div>
    </div><br><br>
    </form>
    }
