@model List<Recipe>

@foreach(Recipe recipe in Model){
    <div class="recipe card">
        <div class="card-body">
            <div class="row">
                <h3 class="card-title title" >@recipe.RecipeName</h3>
                <input type="hidden" name="RecipeName" value="@recipe.RecipeName">
                
                <div class="col-6">
                    <h4 class="Ingredients">Ingredients:</h4>
                    <ul>@{int i = 0;
                        @foreach(RecipeIngredient ing in recipe.Ingredients){
                            <li class="Ingredients">@ing.IngredientName: @ing.quantity</li>
                            <input type="hidden" name="Ingredients[@i].IngredientName" value="@ing.IngredientName">
                            <input type="hidden" name="Ingredients[@i].quantity" value="@ing.quantity">
                            i++;
                        }}
                        
                        
                    </ul>
                </div>
                <div class="col-6">
                    <h5 id="prep-time">Prep time: @recipe.PrepTime</h5>
                    <input type="hidden" name="PrepTime" value="@recipe.PrepTime">
                    <h5 id="cook-time"> Cook Time: @recipe.CookTime</h5>
                    <input type="hidden" name="CookTime" value="@recipe.CookTime">
                    <h5 id="servings"> Servings: @recipe.Servings</h5>
                    <input type="hidden" name="Servings" value="@recipe.Servings">
                </div>
            </div>
            <div class="row">
                <a class="btn btn-primary" asp-action="MakeRecipe"asp-route-id="@recipe.RecipeId">
                    Make it!
                </a>
                <a class="btn btn-primary" style="float: inline-end">Update</a><a class="btn btn-primary" style="float: inline-end">Delete</a>
            </div>
        </div>
    </div>
}

