@model List<Ingredient>
<link rel="stylesheet" href="/css/IngredientStyle.css">

@{ViewData["Title"] = "My Pantry";}
<style>
body{
    background-image: url("/images/cookies.jpg") !important;
 
}

.modal-content{
    background-color: rgba(48,46,46) !important; 
    border-radius: 10px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    position: relative;
    z-index: 1;  
    color: antiquewhite;

}




</style>


@{var ingredientGroups = Model.GroupBy(ing => ing.IngredientCategory.Name);}
<br>
<form id="IngredientsList" asp-action="SaveIngredients" method="post" >
    
    
    @foreach(var group in ingredientGroups){
        var modalId = group.Key.Replace(" ", "-");
        <div class ="card"   data-bs-toggle="modal" data-bs-target="#@modalId">
            <br><br>
            <h3 style="text-align: center;">@group.Key</h3>
            <br><br>
        </div>
    
        <div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="@modalId"aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg" >
                <div class="modal-content">
                    <div>
                        <br>
                        <h4 style="text-align: center;">@group.Key</h4>
                        <br>
                    </div>
                    
                    <div class="modal-body">
                        @foreach(Ingredient ing in group){
                            bool isSelected = ViewBag.SelectedIngredients != null && ViewBag.SelectedIngredients.Contains(ing.Name);

                             <label >
                                <input type="checkbox" name="SelectedIngredients" id="@ing.Name" value="@ing.Name" @(isSelected ? "checked" : "") />
                                @ing.Name
                            </label>
                        }
                        <input type="hidden" name="CategoryName" value="@group.Key" />
                    </div>
                    <span>
                        <button type="submit" style="float:inline-end ; margin: 10px;"class="btn">Save</button>
                    </span>
                </div>
            </div>
        </div>

           
    }
        
        
        
    

    


</form>





