@model List<Ingredient>
<link rel="stylesheet" href="/css/IngredientStyle.css">

@{ViewData["Title"] = "My Pantry";}
<style>
    color: white;
    background-color: rgba(0,0,0,0.7) !important;
</style>


@{var ingredientGroups = Model.GroupBy(ing => ing.IngredientCategory.Name);}

<form id="IngredientsList" asp-action="SaveIngredients" method="post" >
    

    @foreach(var group in ingredientGroups){
        var modalId = group.Key.Replace(" ", "-");
        <div class ="card"   data-bs-toggle="modal" data-bs-target="#@modalId">
            <h3>@group.Key</h3>

        </div>
    
        <div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="@modalId"aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>@group.Key</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    
                    <div class="modal-body">
                        @foreach(Ingredient ing in group){
                            bool isSelected = ViewBag.SelectedIngredients != null && ViewBag.SelectedIngredients.Contains(ing.Name);

                             <label>
                                <input class="btn" type="checkbox" name="SelectedIngredients" id="@ing.Name" value="@ing.Name" @(isSelected ? "checked" : "") />
                                @ing.Name
                            </label>
                        }
                        <input type="hidden" name="CategoryName" value="@group.Key" />
                    </div>
                    <div class="modal-footer">
                        <button class="btn">Add an item</button>
                        <button type="submit" class="btn">Save</button>
                    </div>
                </div>
            </div>
        </div>

           
    }
        
        
        
    

    


</form>





